header {
  position: relative;
  background-image: url(../images/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.home-content {
  padding: 104px 0 188px;
  width: 100%;
}
.home-content h1 {
  width: 55%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 7.25rem;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: var(--heading-color);
  margin: 0;
}
.home-content p {
  width: 33%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 35px 0;
}
.btn {
  margin-right: 10px;
}
.home-btns a {
  border: 1px solid #00a0c1;
  border-radius: 37px;
  padding: 10px 36px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00a0c1;
}
.home-btns a:hover {
  border: none;
  background: #ffa62b;
  color: #ffffff;
  transition: 0.5s;
}

/* HOME-CARDS */

.home-cards {
  position: absolute;
  bottom: -102px;
  display: flex;
  gap: 40px;
}
.home-card {
  width: 30%;
  height: 210px;
  padding: 39px 0 35px 40px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.home-card:hover {
  background: #16697a;
  transition: 0.5s;
}
.home-card:hover > h3 {
  color: #ffffff;
}
.home-card:hover > p {
  color: #ffffff;
}
.home-card h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--heading-color);
  margin: 10px 0;
}
.home-card p {
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
