@media (max-width: 720px) {
  #contact {
    padding: 40px 0 150px;
  }
  .contact-content p {
    font-size: 1.5rem;
    margin: 10px 0 70px;
  }

  .contact-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .contact-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 0 20px 0;
  }

  .contact-card img {
    width: 55px;
    height: 55px;
  }
  .advice-card {
    margin: 0 0 60px 0;
    width: 45%;
  }
}
