@media (max-width: 400px) {
  .home-content h1 {
    width: 100%;
    font-size: 5rem;
    text-align: center;
  }
  .home-content p {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    margin: 15px 0;
  }
  .home-btns {
    display: flex;
    flex-direction: column;
  }
  .btn {
   margin: 0 0 15px 0;
  }
  .home-btns a {
    padding: 7px 25px;
    font-size: 1.75rem;
  }
  #navbar-responsive a {
    font-size: 1.9rem;
  }
  .info-about {
    gap: 30px;
  } 
  .contact-emails a {
    font-size: 1.5rem;
  }
  .contact-submit {
    padding: 5px 10px;
  }
  .company-info,
  .legal,
  .features,
  .resources,
  .touch {  
    width: 100%;
  }
  h2 {
    font-size: 4rem;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .inputs a {
    border-radius: 5px;
    font-size: 1.75rem;
    padding: 10px 20px;
  }
  input[type="email"] {
    width: 100%;
    border-radius: 5px;
}
}